---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog", ({ data }) => {
    return data.draft !== false && data.pubDate < new Date();
  });

  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
  sectionName: string;
  headerClass: string;
}

const { post, sectionName } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout pageTitle="Blog | Terence Flowers">
  <BlogPostLayout sectionName="Blog">
    <h1 class="post-title" slot="blog-header">{post.data.title}</h1>
    <Content />
  </BlogPostLayout>
</BaseLayout>

<style>
  .post-title {
    /* font-size: 3.2rem; */
    font-weight: 700;
    color: var(--color-secondary-2);
    /* font-family: var(--font-display); */
  }
</style>
