---
import BlogLayout from "../../layouts/BlogLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog", ({ data }) => {
    return data.draft !== false && data.pubDate < new Date();
  });

  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { Content } = await post.render();
---

<BlogLayout title="this is a test">
  <h1>{post.data.title}</h1>
  <Content />
</BlogLayout>
