.btn {
	background-color: color-mix(in srgb, var(--color-primary), #fff 3%);
	color: var(--color-secondary);
	border-radius: var(--btn-border-radius);
	padding: 0.8em 1.25em;
	font-family: var(--font-display);
	font-size: var(--fs-300);
	display: inline-block;
	border: 2px solid var(--color-secondary);
	line-height: 1;

	&:hover {
		transition: color 0.2s ease-in;
		color: var(--cool-grey-200);
	}
}

.btn.alternative {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	font-weight: 550;
}

.btn.panel-cta {
	border-radius: 50em;
	padding: 0.8em 1.8em;
	color: var(--color-primary);
	font-weight: 500;
	transition: background-color 0.1s ease-in;

	&:hover {
		color: var(--color-primary);
		background-color: var(--color-secondary);
		transition: background-color 0.1s ease-in;
	}
	&:visited {
		color: var(--color-secondary);
		transition: background-color 0.1s ease-in;
	}
}

.tag {
	font-size: 1.4rem;
	padding: 0.4em 0.8em;
	border-radius: 50em;
	background-color: hsla(145, 48.3%, 65.9%, 0.15);
	line-height: 1;
	font-weight: 600;
	color: var(--color-secondary);
	font-weight: 300;
}
