main {
  padding-bottom: 4em;
}

.article-wrapper {
  container-name: article;
  container-type: inline-size;
  width: 100%;
  height: 100%;
}

.container {
  padding: 0 1rem;
}

.content-wrapper {
  padding: 2rem 0;
}
