.font-scale {
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-variation-settings: 'slnt' 0;
	font-optical-sizing: none;
}

.article {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 3rem 0 1.38rem;
		/* margin-bottom: var(--spc-md); */
		line-height: 1.3;
	}

	h1,
	.h1 {
		color: var(--cool-grey-100);
		font-size: var(--fs-700);
		line-height: 1.27;
		/* margin-top: var(--spc-sm);
		margin-bottom: var(--spc-md); */
	}
	h2,
	.h2 {
		color: var(--cool-grey-50);
		font-size: var(--fs-600);
		font-weight: 600;
		line-height: 1.4;
		/* margin-top: var(--spc-sm);
		margin-bottom: var(--spc-md); */
	}
	h3,
	.h3 {
		color: var(--cool-grey-100);
		font-size: var(--fs-500);
		font-weight: 300;
		line-height: 1.4;
		/* margin-top: var(--spc-sm);
		margin-bottom: var(--spc-sm); */
	}
	h4,
	.h4 {
		color: var(--cool-grey-50);
		font-size: var(--fs-400);
		font-weight: 400;
		/* margin-bottom: 0; */
	}
	h5,
	.h5 {
		color: var(--cool-grey-50);
		font-size: var(--fs-400);
		font-weight: 300;
		/* margin-bottom: 0; */
	}
	p,
	ul,
	ol,
	pre,
	table,
	blockquote {
		font-size: var(--fs-400);
		margin-top: 0em;
		margin-bottom: var(--spc-sm);
	}
	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	hr,
	.hr {
		border: 1px solid;
		margin: -1px 0;
	}
	a,
	b,
	i,
	strong,
	em,
	small,
	code {
		line-height: 1;
	}
	sub,
	sup {
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	sup {
		top: -0.5em;
	}
	sub {
		bottom: -0.25em;
	}

	ul,
	ol {
		padding-left: 2em;
	}

	a {
		color: #fff;

		:hover {
			color: var(--color-secondary-2);
		}
	}

	a.btn {
		color: var(--color-secondary);
	}
}

.article.home {
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0;
		margin-bottom: 0;
	}

	.big {
		color: var(--color-accent);
		font-size: var(--fs-500);
		line-height: 1.4;
		margin-bottom: var(--spc-md);
	}

	.section-heading,
	.section-description {
		text-align: center;
	}

	.section-heading {
		font-family: var(--font-display);
		width: 100%;
		margin-bottom: var(--spc-sm);
	}

	.section-description {
		font-size: var(--fs-400);
		font-weight: 300;
		color: var(--cool-grey-200);
		line-height: 1.4;
		text-align: center;
		max-width: 32ch;
		margin: 0 auto;

		@container article (width > 390px) {
			padding: 0;
		}
	}
}

.article.blog-index {
	.link {
		color: var(--color-secondary);
	}
}

.article.blog-post {
	h2,
	.h2 {
		color: var(--cool-grey-50);
		font-size: var(--fs-500);
		font-weight: 600;
		line-height: 1.4;
	}

	.link {
		color: var(--color-secondary);
	}
}
