---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';
import "../styles/main.css"

const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>My Astro Learning Blog</h1>
    <h2>... and my new Astro site!</h2>
    <p>This is where I will post about my journey learning astro</p>

    <ul>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate} />)}
    </ul>

	</main>
</Layout>
