---
import ColorPicker from "../components/ColorPicker.vue";
import HeaderPanel from "../partials/HeaderPanel.astro";
import SiteFooter from "../partials/SiteFooter.astro";
import ExperiencePanel from "../partials/ExperiencePanel.astro";
import ExpertisePanel from "../partials/ExpertisePanel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <ColorPicker client:load />

  <main>
    <HeaderPanel />
    <section>
      <div class="container">
        <ExperiencePanel />
      </div>
    </section>
  </main>
  <section>
    <div class="container">
      <ExpertisePanel />
    </div>
  </section>
</Layout>
<footer>
  <div class="container">
    <SiteFooter />
  </div>
</footer>

<style>
  .container {
    padding: 0 1rem;
  }
</style>
