---
import ColorPicker from "../components/ColorPicker.vue";
import SiteFooter from "../components/SiteFooter.astro";
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to the TerrorDome</h1>

    <ColorPicker client:load />
  </main>
  <SiteFooter />
</Layout>
