---
import About from "../partials/HomeAbout.astro";
import HeaderPanel from "../partials/HeaderPanel.astro";
import MyExperience from "../partials/Experience.astro";
import MyExperiments from "../partials/Experiments.astro";
import MyExpertise from "../partials/Expertise.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terence Flowers: Designer Developer">
  <main>
    <article>
      <div class="article-wrapper">
        <HeaderPanel />

        <section class="expertise">
          <div class="container">
            <div class="content-wrapper">
              <MyExpertise />
            </div>
          </div>
        </section>

        <section class="experience">
          <div class="container">
            <div class="content-wrapper">
              <MyExperience />
            </div>
          </div>
        </section>

        <section class="experiments">
          <div class="container">
            <div class="content-wrapper">
              <MyExperiments />
            </div>
          </div>
        </section>

        <section class="about">
          <div class="container">
            <div class="content-wrapper">
              <About />
            </div>
          </div>
        </section>
      </div>
    </article>
  </main>
</Layout>

<script>
  import scrollTo from "../js/utils/scrollTo";
  import AnimationEffects from "../js/utils/animate";

  AnimationEffects();
  scrollTo();
</script>

<style is:global>
  main {
    padding-bottom: 4em;
  }

  .article-wrapper {
    container-name: article;
    container-type: inline-size;
    width: 100%;
    height: 100%;
  }

  .container {
    padding: 0 1rem;
  }

  .content-wrapper {
    padding: 2rem 0;
  }

  section.expertise {
    background: linear-gradient(
      var(--color-primary-darkest),
      var(--color-primary)
    );
  }

  section.about {
    padding-top: 4rem;
  }

  .section-header {
    grid-column: 1 / span 4;
    text-align: center;
    margin-bottom: 1em;

    h2 {
      padding-top: 2rem;
    }

    @container article (width > 768px) {
      grid-column: 1 / span 12;
    }
  }

  h2 {
    font-size: 2.2rem;
    line-height: 1.2;
    color: var(--color-accent);
    margin-bottom: 0.4em;
    font-weight: 600;
    font-family: var(--font-display);

    @container article (width > 40em) {
      font-size: 2.5rem;
    }

    @container article (width > 110em ) {
      font-size: 4.6rem;
    }
  }
  .big {
    color: color-mix(in srgb, var(--color-accent), #000 5%);
    margin-bottom: 0.8em;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;

    @container article (width > 1800px) {
      font-size: 2.4rem;
    }
  }

  p {
    color: color-mix(in srgb, var(--color-accent), #fff 40%);
    line-height: 2.15rem;
    font-size: 1.2rem;
    margin-bottom: 0.6em;

    @container article (width > 1800px) {
      font-size: 1.4rem;
    }
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;

    @container article (width > 1800px) {
      max-width: 1550px;
    }
  }
</style>
