---
import BaseLayout from '../layouts/BaseLayout.astro'
import About from '../partials/HomeAbout.astro'
import HeaderPanel from '../components/HeaderPanel.astro'
import MyExperience from '../partials/Experience.astro'
import MyExperiments from '../partials/Experiments.astro'
import MyExpertise from '../partials/Expertise.astro'
import Contact from '../partials/Contact.astro'
---

<BaseLayout
	class="homepage"
	pageTitle="Terence Flowers: Designer Developer">
	<main>
		<article class="article home">
			<div class="article-wrapper">
				<HeaderPanel />

				<section class="expertise">
					<div class="container">
						<MyExpertise />
					</div>
				</section>

				<section class="experience">
					<div class="container">
						<MyExperience />
					</div>
				</section>

				<section class="experiments">
					<div class="container">
						<MyExperiments />
					</div>
				</section>

				<section class="about">
					<div class="container">
						<About />
					</div>
				</section>

				<section class="contact">
					<div class="container">
						<Contact />
					</div>
				</section>
			</div>
		</article>
	</main>
</BaseLayout>

<script>
	import scrollTo from '../js/handlers/scrollTo'
	import AnimationEffects from '../js/display/animate'

	AnimationEffects()
	scrollTo()
</script>

<style is:global>
	section:not(.contact) {
		padding-block: clamp(min(2vh, 2.4rem), 6rem, 8rem);
	}

	section.expertise {
		background: linear-gradient(var(--color-primary-darkest), var(--color-primary));
		/* background-color: orange; */
	}

	section.contact {
		text-align: center;
		/* background-color: red; */
		padding-block: clamp(min(10vh, 3.5em), 5vw + 1rem, 14em);
	}

	main .container {
		@container article (width >= 1280px) {
			padding: 0 12rem;
		}
		@container article (width >= 2000px) {
			padding: 0 32rem;
		}
	}
</style>
