---
import BaseLayout from "../layouts/BaseLayout.astro";
import About from "../partials/HomeAbout.astro";
import HeaderPanel from "../components/HeaderPanel.astro";
import MyExperience from "../partials/Experience.astro";
import MyExperiments from "../partials/Experiments.astro";
import MyExpertise from "../partials/Expertise.astro";
---

<BaseLayout pageTitle="Terence Flowers: Designer Developer">
  <main>
    <article class="home">
      <div class="article-wrapper">
        <HeaderPanel />

        <section class="expertise">
          <div class="container">
            <div class="content-wrapper">
              <MyExpertise />
            </div>
          </div>
        </section>

        <section class="experience">
          <div class="container">
            <div class="content-wrapper">
              <MyExperience />
            </div>
          </div>
        </section>

        <section class="experiments">
          <div class="container">
            <div class="content-wrapper">
              <MyExperiments />
            </div>
          </div>
        </section>

        <section class="about">
          <div class="container">
            <div class="content-wrapper">
              <About />
            </div>
          </div>
        </section>
      </div>
    </article>
  </main>
</BaseLayout>

<script>
  import scrollTo from "../js/handlers/scrollTo";
  import AnimationEffects from "../js/display/animate";

  AnimationEffects();
  scrollTo();
</script>

<style is:global>
  section.expertise {
    background: linear-gradient(
      var(--color-primary-darkest),
      var(--color-primary)
    );
  }

  section.about {
    padding-top: 4rem;
  }

  .section-header {
    grid-column: 1 / span 4;
    text-align: center;
    margin-bottom: 1em;

    h2 {
      padding-top: 2rem;
    }

    @container article (width > 768px) {
      grid-column: 1 / span 12;
    }
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;

    @container article (width > 1800px) {
      max-width: 1550px;
    }
  }
</style>
