---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogPosts = await getCollection("experiments", ({ data }) => {
    return data.draft !== false && data.pubDate < new Date();
  });

  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"experiments">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout pageTitle="this is a test">
  <h1>{post.data.title}</h1>
  <Content />
</BaseLayout>
