---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogIndexLayout from "../../layouts/BlogIndexLayout.astro";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("experiments");
---

<BaseLayout class="blog-index" pageTitle="Experiments | Terence Flowers">
  <BlogIndexLayout>
    <h1 class="post-title" slot="blog-header">Experiments</h1>
    <p slot="blog-description">This is a few projects I'm working on.</p>
    {blogPosts.map((post) => (
        <h2><a class="link" href={`/experiments/${post.slug}`}>{post.data.title}</a></h2>
        <p>{post.data.description}</p>
        <a href={`/experiments/${post.slug}`}>Read Post</a>
        ))
      }
  </BlogIndexLayout>
</BaseLayout>
