---
import SVGBrandLogo from '../partials/svgs/brandlogo.astro'
import SVGGithub from '../partials/svgs/github.astro'
import SVGCodeSandbox from '../partials/svgs/codesandbox.astro'
import SVGLinkedIn from '../partials/svgs/linkedin.astro'
import SVGTwitter from '../partials/svgs/twitter.astro'
import SVGInstagram from '../partials/svgs/instagram.astro'
import SVGWebflow from '../partials/svgs/webflow.astro'
import SVGMouse from '../partials/svgs/mouse.astro'
import NavItems from './NavItems.astro'
import MenuBtn from './MenuBtn.astro'
import IconButton from './IconButton.astro'
import SVGCircle from '../partials/svgs/circle.astro'
---

<header class="page-header">
	<div class="header-wrapper">
		<div
			id="panel"
			class="panel">
			<div class="panel-wrapper">
				<div class="panel-content-top">
					<div class="panel-icon">
						<a
							href="#"
							class="brand icon icon-link"
							aria-label="home link">
							<SVGBrandLogo />
						</a>
					</div>
					<div class="panel-nav">
						<NavItems
							class="header-panel"
							ariaLabel="header panel navigation">
							<MenuBtn class="header-panel">
								<SVGCircle />
							</MenuBtn>
						</NavItems>
					</div>
				</div>
				<div class="panel-content-middle">
					<div class="title-wrapper">
						<h1
							class="title"
							tabindex="0">
							Terence <span class="last-name">Flowers</span>
						</h1>
						<p class="subtitle">Software Engineer</p>
						<div class="scroll-down">
							<div class="contact-icon icon">
								<SVGMouse />
							</div>
							 scroll for more
						</div>
					</div>
				</div>
				<div class="panel-content-bottom">
					<div class="btn-group group-1">
						<IconButton
							url="#"
							class="btn header-panel"
							ariaLabel="github">
							<SVGGithub />
						</IconButton>
						<IconButton
							url="#"
							class="btn header-panel"
							ariaLabel="code sandbox">
							<SVGCodeSandbox />
						</IconButton>
						<IconButton
							url="#"
							class="btn header-panel"
							ariaLabel="webflow">
							<SVGWebflow />
						</IconButton>
					</div>
					<div class="btn-group group-2">
						<IconButton
							url="#"
							class="btn header-panel"
							ariaLabel="twitter">
							<SVGTwitter />
						</IconButton>
						<IconButton
							url="#"
							class="btn header-panel"
							ariaLabel="instagram">
							<SVGInstagram />
						</IconButton>
						<IconButton
							url="#"
							class="btn header-panel"
							ariaLabel="linkedin">
							<SVGLinkedIn />
						</IconButton>
					</div>
				</div>
			</div>
			<div class="cta-wrapper">
				<div class="cta">
					<a
						href="#"
						class="btn panel-cta"
						data-scrollto="contact"
						>Say Hello!</a
					>
				</div>
				<div class="cta-bkg">
					<svg
						viewBox="0 0 290 52"
						fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path
							id="panel_cutout"
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M0.246872 51.8537C25.7892 51.8537 39.8279 40.2128 47.5271 28.0157C56.3034 14.1121 69.6518 0.500019 86.0936 0.500019H102.054H136.526H167.474H197.785H203.906C220.348 0.500019 233.696 14.1121 242.473 28.0157C250.172 40.2128 264.211 51.8537 289.753 51.8537H197.785H102.054H0.246872Z"
							fill="currentColor"
						></path>
					</svg>
				</div>
			</div>
			<div class="canvas-wrapper">
				<canvas
					id="canvas"
					width="32px"
					height="32px"
				></canvas>
			</div>
		</div>
	</div>
</header>

<script>
	import movingBlobs from '../js/display/movingBlobs'
	// import buildThresholds from '../js/utils/thresholds'

	const r = document.querySelector(':root')

	/*
  let currDeg = 0
	let prevRatio = 0
	let currRatio = 0
	let num = 0

	function setDegree(num) {
		const x = num + 'deg'
		r.style.setProperty('--panel-num', x)
	}

	function createObserver() {
		const panel = document.getElementById('panel')

		const options = {
			root: null,
			rootMargin: '0px',
			threshold: buildThresholds(100),
		}

		const observer = new IntersectionObserver((entries) => {
			entries.forEach((entry) => {
				const x = entry.intersectionRatio

				if (currRatio > prevRatio) {
					num = 1 - 2 * currDeg--
				}
				if (currRatio < prevRatio && num >= -50) {
					num = 1 - 2 * currDeg++
				}

				if (num <= 0) {
					setDegree(num)
				}
				if (x >= 0.9) {
					setDegree(0)
				}

				prevRatio = currRatio
				currRatio = x
			})
		}, options)

		observer.observe(panel)
	}

	createObserver()
  */

	movingBlobs()
</script>

<style>
	:root {
		--panel-num: 0deg;
	}

	.scroll-down {
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 2rem;
		gap: 0.5em;
		text-transform: lowercase;
	}

	.page-header {
		background-color: var(--color-primary-darkest);
	}

	.btn-group {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}

	.header-wrapper {
		display: flex;
		height: 100vh;
		height: 100dvh;
		overflow: hidden;
		perspective: 6.5rem;
		padding: 1rem;
		padding-bottom: 2.5rem;
		align-items: center;

		@container article (width > 768px) {
			display: block;
		}
	}

	.panel {
		container-type: inline-size;
		container-name: panel;
		position: relative;
		width: 100%;
		height: 96%;
		color: var(--color-primary);
		transform: rotateX(var(--panel-num));

		@container article (width >= 768px) {
			height: 100%;
		}
	}

	a.brand.icon.icon-link {
		display: inline-block;
		color: var(--color-primary);
		border: none;
		padding: 0;
		background-color: transparent;
		width: 3.6rem;

		&:hover {
			color: var(--color-primary);
		}
	}

	.panel-wrapper {
		display: flex;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		padding: var(--panel-padding);

		@container article (width < 600px) {
			padding-bottom: 100px;
		}
	}

	.cta {
		position: absolute;
		padding-top: 1rem;
	}

	.cta-wrapper {
		z-index: 2;
		position: absolute;
		width: 100%;
		height: 4.8rem;
		bottom: 0;
		display: flex;
		justify-content: center;

		/* height determines where tab is located */
		@container article (width > 160rem) {
			height: 4.7rem;
		}
	}

	.cta-bkg {
		position: absolute;
		z-index: -1;
		top: 2px;
		width: 270px;
		color: var(--color-primary-darkest);

		@container article (width > 120rem) {
			width: 27rem;
		}
	}

	.cta-btn {
		@container article (width > 160rem) {
			font-size: 1.8rem;
		}
	}

	.panel-content-top,
	.panel-content-bottom {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.title-wrapper {
		color: var(--color-primary);
		text-transform: uppercase;
		line-height: 1;
	}

	.title {
		font-family: var(--font-display);
		color: var(--color-primary);
		font-size: clamp(3.4rem, 14vw, 18rem);
		font-weight: 300;
		letter-spacing: 2px;
		line-height: 1;
		margin: 0;
		text-align: center;

		.last-name {
			display: block;
			font-weight: 600;
			letter-spacing: normal;
			position: relative;
			left: 4px;
		}
	}

	.subtitle {
		font-family: var(--font-primary);
		text-align: center;
		font-size: clamp(1.2rem, 5vw, 5rem);
		font-weight: 400;
		margin-bottom: 0;
		letter-spacing: 2px;
		color: color-mix(in srgb, var(--color-primary), #fff 5%);
	}

	canvas {
		width: 100%;
		height: 100%;
	}

	.canvas-wrapper {
		border-radius: 2rem;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		z-index: 1;
	}
</style>
