---
// import HamburgerIcon from "../partials/svgs/hamburger.astro";
import CloseIcon from '../partials/svgs/close.astro'
---

<div class="nav-button">
	<a
		class="menu-btn btn icon-link"
		href="#"
	>
		<div class="icon">
			<CloseIcon />
		</div>
	</a>
</div>

<style>
	.menu-btn {
		background-color: var(--color-primary);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-radius: var(--btn-border-radius);
		width: 4rem;
		height: 2rem;
		padding: 0 4px;

		.icon {
			color: var(--color-secondary);
			--icon-size: 1.6rem;
		}
	}
</style>
