---
const { class: className } = Astro.props
const fullClassList = `navigation-wrapper ${className}`
---

<div class={fullClassList}>
	<div class="nav-items">
		<div class="nav-item">
			<span class="nav-item-number">01.</span>
			<a
				href="../#expertise"
				class="navlink"
				data-scrollTo="expertise">
				<span>Expertise</span>
			</a>
		</div>
		<div class="nav-item">
			<span class="nav-item-number">02.</span>
			<a
				href="../#experience"
				class="navlink"
				data-scrollTo="experience">
				<span>Experience</span>
			</a>
		</div>
		<div class="nav-item">
			<span class="nav-item-number">03.</span>
			<a
				href="../#experiments"
				class="navlink"
				data-scrollTo="experiments">
				<span>Experiments</span>
			</a>
		</div>
		<div class="nav-item">
			<span class="nav-item-number">04.</span>
			<a
				href="../#about"
				class="navlink"
				data-scrollTo="about">
				<span>About</span></a
			>
		</div>
		<div class="nav-item">
			<span class="nav-item-number">05.</span>
			<a
				href="../#contact"
				class="navlink"
				data-scrollTo="contact">
				<span>Contact</span></a
			>
		</div>
		<slot />
	</div>
</div>

<style>
	.navigation-wrapper {
		display: flex;
		justify-content: end;
	}

	.nav-item {
		display: none;
	}

	.nav-items {
		display: flex;
		place-items: center;
		gap: 1.3rem;
	}

	.nav-item-number {
		font-weight: bold;
	}

	.navlink {
		display: inline-block;
		text-decoration: none;
		position: relative;
		color: var(--color-primary);
		font-family: var(--font-display);
	}

	.navigation-wrapper.header-panel {
		.nav-item {
			font-size: 1.6rem;
		}

		@media (min-width: 1024px) {
			.nav-item {
				display: block;
			}
		}
	}

	.navigation-wrapper.top {
		.nav-item {
			font-size: var(--fs-300);
		}

		.navlink {
			color: #fff;

			/*
		  span::after {
			position: absolute;
			display: block;
			content: ' ';
			border-bottom: solid 0.1vmax var(--color-primary-darkest);
			height: 1px;
			width: 100%;
			transition: left 500ms linear;
			left: -100%;
			opacity: 0.75;
			bottom: 1px;
		}

		  &:hover span::after {
			transition: left 500ms linear;
			left: 100%;
		}
    */
		}

		.nav-item-number {
			font-weight: 300;
			color: var(--color-secondary);
		}

		@media (min-width: 768px) {
			.nav-item {
				display: block;
			}
		}
	}
</style>
