---
// import LottieAnimation from 'astro-integration-lottie/Lottie.astro'
---

<div id="preloader">
	<div class="overlay">
		<div class="overlay-container">
			<div
				id="dunno"
				class="thingy">
				<div class="spinner"></div>
				<div class="lottie-container"></div>
			</div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>
<script>
	const loader = document.getElementById('preloader')
	const thingy = document.getElementById('dunno')
	const lottieContainer = document.querySelector('.lottie-container')

	document.addEventListener('DOMContentLoaded', () => {
		lottie.loadAnimation({
			container: lottieContainer,
			renderer: 'svg',
			loop: true,
			autoplay: true,
			path: '/lotties/tf-logo-loading.json',
		})
		onLoadAnimations()
	})

	window.addEventListener('load', function () {
		onCloseAnimations()
	})

	let nextAnimation = (el: Element, duration: number, animationClass: string) => {
		return new Promise((resolve) => {
			const seconds = duration * 1000
			setTimeout(() => {
				el.classList.add(animationClass)
				resolve()
			}, seconds)
		})
	}

	const scaleUpLogo = async () => {
		await nextAnimation(thingy, 1, 'grow')
		console.log('animation 1')
	}
	const scaleDownLogo = async () => {
		await nextAnimation(thingy, 3, 'shrink')
		console.log('animation 2')
	}
	const hideLoader = async () => {
		await nextAnimation(loader, 1.5, 'hide')
		console.log('animation 3')
	}

	const onLoadAnimations = async () => {
		await scaleUpLogo()
	}
	const onCloseAnimations = async () => {
		await scaleDownLogo()
		await hideLoader()
	}

	// movements().then(() => console.log('animation finished'))
</script>

<style>
	:root {
		--_thingy-size: 25rem;
		--_spinner-color: var(--color-secondary);
		--_spinner-bg-color: hsla(163, 90%, 50%, 0.01);
	}

	.overlay {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		z-index: 99;
		background-color: var(--color-primary);
	}

	.overlay-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	#preloader {
		&.hide {
			display: none;
		}
	}

	.thingy {
		position: relative;
		top: 0;
		width: var(--_thingy-size);
		height: var(--_thingy-size);
		transform: scale(0);
		opacity: 0;

		&.grow {
			opacity: 1;
			transform: scale(1);
			transition: 1s all 0.3s ease-in;
		}
		&.shrink {
			opacity: 0;
			transform: scale(0);
			transition: 1s all 0.3s ease-in;
		}
	}

	.lottie-container {
		position: absolute;
		width: var(--_thingy-size);
		height: var(--_thingy-size);
		z-index: 1;
		top: 0;
		left: 0%;
	}

	.spinner {
		position: absolute;
		border: 16px solid var(--_spinner-bg-color);
		border-top: 16px solid var(--_spinner-color);
		border-bottom: 16px solid var(--_spinner-color);
		border-radius: 50%;
		width: var(--_thingy-size);
		height: var(--_thingy-size);
		animation: spin 3s linear infinite;
		z-index: 0;
		top: 0;
		left: 0;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
</style>
