---
import SVGLinkedIn from '../partials/svgs/linkedin.astro'
import SVGTwitter from '../partials/svgs/twitter.astro'
import SVGInstagram from '../partials/svgs/instagram.astro'

const { class: className } = Astro.props
---

<div class=`${className} social-btns`>
	<div class="btn-wrapper">
		<a
			href="#"
			class="btn"
		>
			<div class="icon">
				<SVGLinkedIn />
			</div>
		</a>
		<a
			href="#"
			class="btn"
		>
			<div class="icon">
				<SVGTwitter />
			</div>
		</a>
		<a
			href="#"
			class="btn"
		>
			<div class="icon">
				<SVGInstagram />
			</div>
		</a>
	</div>
</div>

<style>
	.btn {
		/* border: none; */
		color: var(--color-secondary);
		padding: 0.5em;
		border-radius: 1rem;
		border: 1px solid var(--color-secondary);

		/*
    &:hover {
      transition: color 0.2s ease-in;
      color: color-mix(in srgb, var(--color-accent), #000 25%);
    }

    &:visited {
      color: var(--color-accent);
    }
    */

		.icon {
			--icon-size: 2rem;
		}
	}

	.btn-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, 4rem);
		width: 13rem;
		column-gap: 0.5rem;

		.btn {
			place-self: center;
		}
	}

	.footer.social-btns {
		@container footer (width >= 800px) {
			justify-self: end;
			align-self: end;
		}
	}
</style>
