---
import SVGLinkedIn from '../partials/svgs/linkedin.astro'
import SVGTwitter from '../partials/svgs/twitter.astro'
import SVGInstagram from '../partials/svgs/instagram.astro'

const { class: className } = Astro.props
---

<div class=`${className} social-btns`>
	<div class="btn-wrapper">
		<a
			href="#"
			class="btn"
			aria-label="linkedin">
			<div class="icon">
				<SVGLinkedIn />
			</div>
		</a>
		<a
			href="#"
			class="btn"
			aria-label="twitter">
			<div class="icon">
				<SVGTwitter />
			</div>
		</a>
		<a
			href="#"
			class="btn"
			aria-label="instagram">
			<div class="icon">
				<SVGInstagram />
			</div>
		</a>
	</div>
</div>

<style>
	.btn {
		padding: 0.8em;
		border: 1px solid var(--color-secondary);
		.icon {
			--icon-size: 2.4rem;
		}
	}

	.btn-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, 5.5rem);
		min-width: 14rem;
		column-gap: 1.8rem;

		.btn {
			place-self: center;
		}
	}

	.footer.social-btns {
		@container footer (width >= 800px) {
			justify-self: end;
			align-self: end;

			.btn-wrapper {
				place-content: end;
			}
		}
	}

	.menu.social-btns {
		margin-top: 1rem;

		.btn-wrapper {
			width: 100%;
			justify-content: center;
		}

		@container sitenav (width > 48em) {
			.contact-btns .btn-wrapper {
				justify-items: start;
			}
		}
	}
</style>
