---
---

<div class="outer-layout-grid">
  <div class="section-header">
    <h2>My Experiments</h2>
    <p>Some fun stuff I've worked on lately</p>
  </div>
  <div class="section-content">
    <div class="card-layout-grid">
      <div class="card">
        <h3>Fun Item</h3>
        <p class="descriptiion">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt vel
          molestiae et? Omnis, qui nesciunt!
        </p>
      </div>
      <div class="card">
        <h3>Fun Item</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt vel
          molestiae et? Omnis, qui nesciunt!
        </p>
      </div>
      <div class="card">
        <h3>Fun Item</h3>
        <p class="descriptiion">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt vel
          molestiae et? Omnis, qui nesciunt!
        </p>
      </div>
      <div class="card">
        <h3>Fun Item</h3>
        <p class="descriptiion">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt vel
          molestiae et? Omnis, qui nesciunt!
        </p>
      </div>
      <div class="card">
        <h3>Fun Item</h3>
        <p class="descriptiion">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt vel
          molestiae et? Omnis, qui nesciunt!
        </p>
      </div>
      <div class="card">
        <h3>Fun Item</h3>
        <p class="descriptiion">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt vel
          molestiae et? Omnis, qui nesciunt!
        </p>
      </div>
    </div>
    <div class="see-more">
      <a href="#" class="btn">see more</a>
    </div>
  </div>
</div>

<style>
  .outer-layout-grid {
    container-type: inline-size;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    @container article (width > 768px) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  .see-more {
    text-align: center;
    grid-column: 1 / span 4;

    @container article (width > 768px) {
      grid-column: 1 / span 12;
    }
  }

  .section-content {
    grid-column: 1 / span 4;

    @container article (width > 768px) {
      grid-column: 3 / span 8;
    }
  }

  .card-layout-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 1rem;
    margin: 0 auto;
    padding-bottom: 4em;
  }

  .card {
    border-radius: var(--panel-border-radius);
    background-color: var(--color-primary-darker);
    padding: var(--panel-padding);
  }

  .card h3 {
    font-size: 1.4rem;
    margin-bottom: 0.8em;
  }
  .card p {
    line-height: 1.3;
  }
</style>
