---
import type { GetStaticPaths } from 'astro'
import Tabs from '../components/TabsList.vue'
import Tab from '../components/Tab.vue'

import TimelineItem from '../components/TimelineItem.astro'
---

<div
	class="outer-layout-grid"
	data-animation-delay="0"
	data-animation-direction="up">
	<header>
		<h2
			id="experience"
			class="section-heading">
			My Experience
		</h2>
		<p class="section-description">Places I've Worked Professionally</p>
	</header>

	<div class="section-content">
		<div class="panel">
			<div class="panel-wrapper">
				<Tabs client:visible>
					<Tab
						active="true"
						title="Ally Bank">
						<TimelineItem slug="ally/tech-lead-software-engineer" />
						<TimelineItem slug="ally/software-engineer" />
						<TimelineItem slug="ally/tech-coordinator" />
						<TimelineItem slug="ally/front-end-developer" />
					</Tab>
					<Tab title="Wells Fargo">
						Web Presentation Architecture for Usability and Accessibility. XHTML, CSS, JavaScript,
						Standards-based Design.
					</Tab>
					<Tab title="Web Full Circle">
						Art Director, Graphic Layout Designer and Web Presentation Development using XHTML, CSS, and
						JavaScript
					</Tab>
					<Tab title="i2 Strategies">
						Art Director, Graphic Layout Designer and Web Presentation Development using XHTML, CSS, and
						JavaScript
					</Tab>
					<Tab title="iChat">
						Created and maintained all web development for corporate website and landing pages. Created
						layout and graphics for Boards, Rooms and Pager software user interfaces. Provided layout,
						graphic and web development for Chat411 (online community website). Supplied layout, graphic,
						themes and web development for Ichat's showcase website. Customer support, problem solving on
						a daily basis to meet business unit needs.
					</Tab>
				</Tabs>
			</div>
		</div>
	</div>
</div>

<style>
	.outer-layout-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		row-gap: 2rem;

		@container article (width >= 768px) {
			grid-template-columns: repeat(8, 1fr);
		}

		@container article (width >= 1024px) {
			grid-template-columns: repeat(12, 1fr);
		}
	}

	header {
		grid-column: 1 / span 4;

		@container article (width > 768px) {
			grid-column: 1 / span 8;
		}
		@container article (width >= 1024px) {
			grid-column: 2 / span 10;
		}
	}

	.section-content {
		grid-column: 1 / span 4;

		@container article (width >= 768px) {
			grid-column: 2 / span 6;
		}
		@container article (width >= 1024px) {
			grid-column: 2 / span 10;
		}
	}

	.panel {
		background-color: var(--color-primary-darker);
		border-radius: var(--panel-border-radius);
		padding: var(--panel-padding);
	}

	/* p {
		font-size: 1.8rem;
		line-height: 1;
	} */
</style>
