<div class="panel">
  <div class="content-wrapper">
    <h2>My Expertise</h2>
    <div>The vast world of dev and design</div>
    <div class="button-wrapper">
      <a href="#" class="button">JavaScript</a>
      <a href="#" class="button">Vue</a>
      <a href="#" class="button">CSS</a>
      <a href="#" class="button">TailwindCSS</a>
      <a href="#" class="button">Ui/UX Design</a>
      <a href="#" class="button">Webflow</a>
      <a href="#" class="button">Framer</a>
    </div>
  </div>
</div>

<style>
  .panel {
    background-color: var(--color-primary-lighter);
    border-radius: var(--panel-border-radius);
    min-height: 40rem;
    padding: var(--panel-padding);
  }

  h2 {
    color: var(--color-accent);
    font-weight: 200;
    font-size: 4rem;
    margin-top: 0;
  }

  .button-wrapper {
    container-type: inline-size;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .button {
    display: inline-block;
    border-radius: var(--button-border-radius);
    border: 2px solid var(--color-secondary);
    padding: 1em 2em;
    color: white;
    text-transform: uppercase;
    font-weight: 339;
    line-height: 0;
    font-size: 3rem;

    @container (width > 700px) {
      font-size: 4rem;
      color: red;
    }
  }
</style>
