<header>
  <div class="panel-wrapper">
    <div class="panel">
      <div class="content">
        <div class="content-wrapper">
          <h1>I'm some big text though</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio
            voluptatibus quasi ab, reprehenderit aliquid fugiat?
          </p>
        </div>
      </div>
      <div class="canvas-wrapper">
        <canvas id="canvas" width="32px" height="32px"></canvas>
      </div>
    </div>
  </div>
</header>

<script>
  const canvas = document.getElementById("canvas");
  const context = canvas.getContext("2d");
  let time = 0;

  const color = function (x, y, r, g, b) {
    context.fillStyle = `rgb(${r}, ${g}, ${b})`;
    context.fillRect(x, y, 10, 10);
  };

  const R = function (x, y, time) {
    return Math.floor(52 + 64 * Math.cos((x * x - y * y) / 300 + time));
  };

  const G = function (x, y, time) {
    return Math.floor(
      192 +
        64 *
          Math.sin(
            (x * x * Math.cos(time / 4) + y * y * Math.sin(time / 3)) / 300
          )
    );
  };

  const B = function (x, y, time) {
    return Math.floor(
      232 +
        64 *
          Math.sin(
            5 * Math.sin(time / 9) +
              ((x - 100) * (x - 100) + (y - 100) * (y - 100)) / 1100
          )
    );
  };

  const startAnimation = function () {
    for (let x = 0; x <= 30; x++) {
      for (let y = 0; y <= 30; y++) {
        color(x, y, R(x, y, time), G(x, y, time), B(x, y, time));
      }
    }
    time = time + 0.008;
    window.requestAnimationFrame(startAnimation);
  };

  startAnimation();
</script>

<style>
  .panel-wrapper {
    height: 100vh;
    padding: 0 1rem;
  }

  .panel {
    position: relative;
    width: 100%;
    height: 90vh;
  }

  .canvas-wrapper {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
  }

  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-wrapper {
  }

  canvas {
    width: 100%;
    height: 100%;
  }
</style>
