---
import { Image } from "astro:assets";
import myImage from "../assets/images/me-and-black-panther.jpg";
---

<div
  class="outer-layout-grid"
  data-animation-delay="0"
  data-animation-direction="up"
>
  <h2 class="section-heading">About</h2>
  <div
    class="pic animate"
    data-animation-delay="1"
    data-animation-direction="up"
  >
    <div class="img-wrapper" id="about">
      <Image src={myImage} alt="Me and Black Panther suit at Discovery Place" />
    </div>
  </div>
  <div class="information">
    <div class="content">
      <h2 class="about-heading">A Certified Front-End Dev Techie</h2>
      <p class="big">
        ...but, also a fun loving guy with a big heart for helping people.
      </p>
      <p>
        I'm a people's guy and active in my church and community. In my spare
        time you'll find me playing/watching sports, watching movies and custom
        car building shows.
      </p>
      <p>
        On a creative front, I'm constantly tinkering with DIY projects, doing
        origami, painting, drawing cartoons, and practicing calligraphy.
      </p>
      <p>
        However, at the end of the day, my greatest joy is being a husband and a
        father to 4 wonderful kids.
      </p>
    </div>
  </div>
</div>

<style>
  .outer-layout-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 2em;
    max-width: 1200px;
    margin: 0 auto;

    @container article (width > 1024px) {
      grid-template-columns: repeat(12, 1fr);
      max-width: 1450px;
    }
  }

  .section-heading {
    grid-column: 1 / span 4;
    place-self: stretch;
  }

  h2.about-heading {
    font-family: var(--font-display);
    color: color-mix(in srgb, var(--color-accent), #fff 65%);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 0.6em;

    span {
      display: block;
      font-size: 2rem;
      color: color-mix(in srgb, var(--color-accent), #fff 80%);
      line-height: 1.4;
    }
  }

  .pic {
    grid-column: 1 / span 4;

    .img-wrapper {
      position: relative;
      border-radius: var(--panel-border-radius);
      overflow: hidden;
      width: 18rem;
      /* aspect-ratio: 4/6; */
      height: auto;

      @container article (width > 678px) {
        width: 24rem;
      }

      @container article (width > 1200px) {
        width: 32rem;
      }
    }

    @container (width > 678px) {
      grid-column: 1 / span 6;
    }
  }

  .content {
    max-width: 48ch;
    padding: 0 1em;
  }

  .information {
    grid-column: 1 / span 4;

    @container article (width >= 1024px) {
      grid-column: 7 / span 6;
    }
  }
</style>
