---
import { Image } from 'astro:assets'
import myImage from '../assets/images/me-and-black-panther.jpg'
---

<div
	class="outer-layout-grid"
	data-animation-delay="0"
	data-animation-direction="up">
	<header>
		<h2 class="section-heading">About Me</h2>
		<p class="section-description">A little bit about the guy behind this site.</p>
	</header>
	<div class="section-content">
		<div
			class="pic animate"
			data-animation-delay="0"
			data-animation-direction="up">
			<div
				class="img-wrapper"
				id="about">
				<Image
					src={myImage}
					alt="Me and Black Panther suit at Discovery Place"
				/>
			</div>
		</div>
		<div class="information">
			<h3 class="about-heading">A Front-End Dev Techie</h3>
			<p class="big">...but, also a fun loving guy with a big heart for helping people.</p>
			<p>
				I'm a people's guy that's active in my church and community. In my spare time you'll find me
				playing/watching sports, watching movies and custom car building shows.
			</p>
			<p>
				On a creative front, I'm constantly tinkering with DIY projects, making origami, sketching, and
				practicing calligraphy.
			</p>
			<p>
				However, at the end of the day, my greatest joy is being a husband to spectacular wife and a
				father to 4 wonderful kids.
			</p>
		</div>
	</div>
</div>

<style>
	.outer-layout-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		place-items: center;
		row-gap: 2em;
		margin: 0 auto;

		@container article (width >= 768px) {
			grid-template-columns: repeat(8, 1fr);
		}

		@container article (width > 1024px) {
			grid-template-columns: repeat(12, 1fr);
		}
	}

	header {
		grid-column: 1 / span 4;

		@container article (width > 768px) {
			grid-column: 1 / span 8;
		}
		@container article (width >= 1024px) {
			grid-column: 2 / span 10;
		}
	}

	h3.about-heading {
		font-family: var(--font-display);
		color: var(--cool-grey-50);
		font-weight: 500;
		span {
			display: block;
			/* font-size: 2rem; */
			color: var(--cool-grey-100);
			line-height: 1.4;
		}

		@container article (width >= 1024px) {
			/* font-size: 3.6rem; */
			margin-bottom: 1rem;
		}
	}

	.section-content {
		display: grid;
		grid-column: 1 / span 4;
		row-gap: 3rem;

		@container article (width >= 768px) {
			grid-column: 2 / span 6;
		}
		@container article (width >= 1024px) {
			grid-column: 1 / span 12;

			grid-template-columns: subgrid;
		}
		@container article (width >= 1366px) {
			grid-column: 1 / span 12;
		}
	}

	.pic {
		justify-self: center;
		grid-column: 1 / span 4;

		@container article (width >= 1024px) {
			grid-column: 2 / span 4;
		}
	}

	.img-wrapper {
		position: relative;
		border-radius: var(--panel-border-radius);
		overflow: hidden;
		width: 30rem;
		height: auto;

		@container article (width >= 768px) {
			width: 48rem;
			margin: 0 auto;
		}

		@container article (width >= 1024px) {
			width: 32rem;
		}

		@container article (width >= 1024px) {
			width: 32rem;
		}

		@container article (width >= 1440px) {
			width: 42rem;
		}
	}

	.information {
		grid-column: 1 / span 4;

		@container article (width >= 1024px) {
			grid-column: 6 / span 6;
			padding-left: 4rem;
		}
	}
</style>
