---
import SocialButtons from "../components/SocialButtons.astro";
---

<footer class="panel">
  <div class="panel-wrapper">
    <h2>Have a question or just want to get in touch ?</h2>

    <div class="btn-groups">
      <div class="contact-btns">
        <div class="contact-item email">
          <a
            class="btn footer-btn"
            href="mailto:terenceflowers.ux@gmail.com"
            target="_blank">
            terenceflowers.ux@gmail.com
          </a>
        </div>
        <div class="contact-item phone">
          <a class="btn footer-btn" href="tel:234-567-8900">+ 1 234.567.8900</a>
        </div>
      </div>
      <SocialButtons />
    </div>
  </div>
</footer>

<style>
  .panel {
    container-type: inline-size;
    container-name: panel;
    background-color: var(--color-primary-darker);
    border-radius: var(--panel-border-radius);
    height: 24em;
    min-height: 24em;
    padding: var(--panel-padding);
    margin-bottom: 2rem;
  }

  .panel-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
  }

  h2 {
    font-size: 2rem;
    color: var(--color-accent);

    @container footer (width > 350px) {
      font-size: 3rem;
    }
  }

  .btn.footer-btn {
    border: none;
    color: var(--color-accent);

    &.icon-link {
      padding: 0.5em;
      border-radius: 1rem;
    }

    &:hover {
      transition: color 0.2s ease-in;
      color: color-mix(in srgb, var(--color-accent), #000 25%);
    }

    &:visited {
      color: var(--color-accent);
    }
  }

  .btn-groups {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @container (width > 768px) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  .contact-btns {
    grid-column: 1 / span 4;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    .email {
      grid-column: 1 / span 4;

      .btn.footer-btn {
        font-size: 0.8rem;

        @container (width > 450px) {
          font-size: 1rem;
        }
      }
    }

    .phone {
      grid-column: 1 / span 4;

      .btn.footer-btn {
        font-size: 1rem;
      }
    }

    .email,
    .phone {
      @container (width > 1024px) {
        .btn.footer-btn {
          font-size: 1.2rem;
        }
      }

      @container (width > 1450px) {
        .btn.footer-btn {
          font-size: 2rem;
        }
      }
    }
  }

  .social-btns {
    grid-column: 1 / span 4;
    justify-self: start;
    align-self: end;

    @container (width > 768px) {
      grid-column: 9 / span 12;
      justify-self: end;
    }

    .btn-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }

    .btn .icon {
      --icon-size: 2rem;

      @container article (width > 800px) {
        --icon-size: 3rem;
      }
    }
  }
</style>
