---
import SocialBtns from '../components/SocialButtons.astro'
import ContactBtns from '../components/ContactButtons.astro'
---

<footer class="page-footer">
	<div class="container">
		<div class="panel">
			<div class="panel-wrapper">
				<div class="outer-layout-grid">
					<div class="footer-heading">
						<h2
							id="contact"
							class="heading"
						>
							Have a question or just want to get in touch?
						</h2>
					</div>
					<div class="footer-btns">
						<ContactBtns />
						<SocialBtns class="footer" />
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<style>
	.footer {
		container-type: inline-size;
	}
	.panel {
		container-type: inline-size;
		container-name: footer;
		background-color: var(--color-primary-darker);
		border-radius: var(--panel-border-radius);
		margin-bottom: 2rem;
	}

	.panel-wrapper {
		padding: var(--panel-padding);
		width: 100%;
		height: 100%;
	}

	.outer-layout-grid {
		display: grid;
		grid-template-rows: 1fr 1fr;

		/*
    @container footer (width > 350px) {
      min-height: 18em;
    }
    @container footer (width > 1024px) {
      min-height: 14em;
    }
    */
	}

	.footer-heading h2.heading {
		color: var(--color-accent);
		/* font-size: 2rem; */
		margin: 0;
	}

	.footer-btns {
		display: grid;
		align-self: end;
		gap: 1em;

		@container footer (width >= 820px) {
			grid-template-columns: repeat(2, 1fr);
			/* background: orange; */
		}
	}
</style>
