---
---

<footer class="footer">
  <h2>Have a question or just want to get in touch ?</h2>
  <div class="contact-buttons">
    <a class="button" href="mailto:terenceflowers.ux@gmail.com" target="_blank">
      terenceflowers.ux@gmail.com
    </a>
    <a class="button" href="tel:234-567-8900">+ 1 234.567.8900</a>
  </div>

  <div class="social">
    <a href="#" class="button icon-link">
      <div class="icon-1x1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="iconify iconify--carbon"
          viewBox="0 0 32 32">
          <path
            fill="currentColor"
            d="M26.2 4H5.8C4.8 4 4 4.8 4 5.7v20.5c0 .9.8 1.7 1.8 1.7h20.4c1 0 1.8-.8 1.8-1.7V5.7c0-.9-.8-1.7-1.8-1.7zM11.1 24.4H7.6V13h3.5v11.4zm-1.7-13c-1.1 0-2.1-.9-2.1-2.1 0-1.2.9-2.1 2.1-2.1 1.1 0 2.1.9 2.1 2.1s-1 2.1-2.1 2.1zm15.1 12.9H21v-5.6c0-1.3 0-3.1-1.9-3.1S17 17.1 17 18.5v5.7h-3.5V13h3.3v1.5h.1c.5-.9 1.7-1.9 3.4-1.9 3.6 0 4.3 2.4 4.3 5.5v6.2z"
          ></path>
        </svg>
      </div>
    </a>
    <a href="#" class="button icon-link">
      <div class="icon-1x1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="iconify iconify--carbon"
          viewBox="0 0 32 32">
          <path
            fill="currentColor"
            d="M11.547 25.752c9.057 0 14.01-7.503 14.01-14.01 0-.213 0-.425-.014-.636A10.017 10.017 0 0 0 28 8.556a9.827 9.827 0 0 1-2.828.776 4.942 4.942 0 0 0 2.164-2.724 9.866 9.866 0 0 1-3.126 1.195 4.929 4.929 0 0 0-8.392 4.491A13.98 13.98 0 0 1 5.67 7.15a4.928 4.928 0 0 0 1.525 6.573 4.887 4.887 0 0 1-2.235-.617v.063a4.926 4.926 0 0 0 3.95 4.827 4.917 4.917 0 0 1-2.223.084 4.93 4.93 0 0 0 4.6 3.42A9.88 9.88 0 0 1 4 23.54a13.94 13.94 0 0 0 7.547 2.209"
          ></path>
        </svg>
      </div>
    </a>
    <a href="#" class="button icon-link">
      <div class="icon-1x1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="iconify iconify--bx"
          viewBox="0 0 24 24">
          <path
            d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216 4.61 4.61 0 0 0-2.633-2.633 6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42 4.607 4.607 0 0 0-2.633 2.633 6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419 4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187.043-.962.056-1.267.056-3.71-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078 1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z"
            fill="currentColor"></path>
          <circle cx="11.994" cy="11.979" r="3.003" fill="currentColor"
          ></circle>
        </svg>
      </div>
    </a>
  </div>
</footer>

<style scoped>
  .footer {
    background-color: var(--color-primary-darker);
    border-radius: var(--panel-border-radius);
    min-height: 40rem;
    padding: var(--panel-padding);
  }

  h2 {
    color: var(--color-accent);
    font-weight: 200;
    font-size: 4rem;
    margin-top: 0;
  }

  .social-buttons {
    display: flex;
    gap: 4px;
  }

  .icon-link {
    padding: 1rem;
  }

  .button {
    background-color: var(--color-primary-darkest);
    color: var(--color-accent);
    border-radius: 1rem;
    padding: 0.5em 1.25em;
    display: inline-block;

    .icon-1x1 {
      width: 1.5rem;
      width: 1.5rem;
    }

    &:hover {
      transition: color 0.2s ease-in;
      color: color-mix(in srgb, var(--color-accent), #000 25%);
    }
  }

  .contact-buttons {
    display: flex;
    gap: 6px;
  }
</style>
