---
const { sectionName } = Astro.props;
---

<main>
  <article class="article">
    <div class="outer-layout-grid">
      <header class="page-header">
        <div class="container">
          <div class="header-wrapper">
            <div class="section-title">{sectionName}</div>
            <slot name="blog-header" />
            <div class="author">by Terence Flowers</div>
          </div>
        </div>
      </header>

      <div class="content">
        <div class="container">
          <slot />
        </div>
      </div>

      <footer>
        <div class="container">
          <a href="#">contact</a>
          <a href="#">share</a>
        </div>
      </footer>
    </div>
  </article>
</main>

<style>
  .page-header,
  .content {
    width: 100%;

    @container article (width >= 1024px) {
      width: 65ch;
      margin: 0 auto;
    }
  }

  .page-header {
    padding-top: 5em;
  }

  .header-wrapper {
  }

  .author {
    padding-top: 1.2em;
  }

  .page-header {
    height: 18rem;
  }

  .outer-layout-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;

    header,
    .content,
    footer {
      grid-column: 1 / span 4;
    }
  }
</style>
