---
import '../styles/blogIndex.css'
const { sectionName } = Astro.props
---

<main>
	<article class="article blog-index">
		<div class="outer-layout-grid">
			<header class="page-header">
				<div class="container">
					<div class="header-wrapper">
						<div class="section-title">{sectionName}</div>
						<slot name="blog-header" />
						<slot name="blog-description" />
					</div>
				</div>
			</header>
			<section class="content">
				<div class="container">
					<slot />
					<div class="tags">
						<slot name="blog-tags" />
					</div>
				</div>
			</section>
		</div>
	</article>
</main>
