---
import { getCollection } from 'astro:content'
import BaseLayout from '../../../layouts/BaseLayout.astro'
import BlogIndexLayout from '../../../layouts/BlogIndexLayout.astro'

const allPosts = await getCollection('experiments', ({ data }) => {
	return data.published && data.pubDate < new Date()
})

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
---

<BaseLayout
	class="blog-index"
	pageTitle="Experiments Tags | Terence Flowers">
	<BlogIndexLayout>
		<h1
			class="post-title"
			slot="blog-header"
			tabindex="0">
			Experiment Tags
		</h1>
		<p slot="blog-description">
			Here's a collection of fun or interesting things I've tinkered with.
		</p>

		<div class="tags">
			{
				tags.map((tag) => (
					<p class="tag">
						<a href={`/experiments/tags/${tag}`}>{tag}</a>
					</p>
				))
			}
		</div>
	</BlogIndexLayout>
</BaseLayout>

<style>
	.tags {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		gap: 1rem;
	}
</style>
